* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    width: 100vw;
    background-color: #e5e5e5;
    font-family: 'Raleway', sans-serif;
}

.headding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50rem;
    background-image: url(assent/Websitemockup/BG\ IMAGE.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo1 {
    width: 3rem;
    height: 3rem;
    background-image: url(assent/Websitemockup/SP01.svg);
    position: absolute;
    left: 2.5%;
    top: 1.5rem;
}

.design_img {
    width: 50rem;
    height: 1.7rem;
    padding: 2rem 0;
}

@media screen and (max-width: 60rem) {
    .design_img {
        width: 85%;
    }
}

.headding_p {
    color: #ffffff;
    width: 80%;
    height: 0.9rem;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.3rem;
    padding: 0.1rem 0 3rem 0;
}

.yellow_btn {
    background-color: yellow;
    color: #0b0b0b;
    padding: 1.5rem;
    font-weight: 550;
    border-radius: 8%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 31rem) {
    .yellow_btn {
        margin: 3rem 0 0 0;
    }
}

.yellow_btn:hover,
.yellow_btn2:hover,
.yellow_btn3:hover {
    background-color: rgb(199, 199, 48);
    color: bisque;
}

.mountain_and_p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}

.mountain_logo {
    margin: 3rem 0;
}

.mountain_and_p > p {
    width: 33.3%;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 8rem 0;
}

@media screen and (max-width: 48rem) {
    .mountain_and_p > p {
        width: 85%;
    }
}

.big_cards_container {
    background-color: #e5e5e5;
    width: 100%;
    padding-bottom: 2rem;
}

.axe_h2_and_p {
    background-color: #e5e5e5;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.axe_logo {
    margin: 8rem 0 0 0;
}

.axe_h2 {
    margin: 1.5rem 0;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.6rem;
}

.axe_p {
    width: 55%;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 0 8rem 0;
}

@media screen and (max-width: 50rem) {
    .axe_p {
        width: 85%;
    }
}

.cards_container_1 {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 75rem) {
    .cards_container_1 {
        flex-direction: column;
        align-items: center;
    }
}

.service_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 17.5rem;
    height: 22.5rem;
    margin: 0.5rem 0 0.5rem 0;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 75rem) {
    .service_div {
        width: 60%;
        height: 60%;
    }
}

@media screen and (max-width: 37.5rem) {
    .service_div {
        width: 70%;
        height: 30%;
    }
}

.service_div > img {
    margin-top: 1.5rem;
}

.service_div > h3 {
    margin: 2rem;
}

.service_div > p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 0 0.4rem 0 0.4rem;
}

@media screen and (max-width: 75rem) {
    .service_div > h3 {
        padding: 4rem;
        font-size: 2rem;
    }
    .service_div > p {
        font-size: 1.6rem;
        width: 75%;
        padding-bottom: 3.3rem;
    }
}

.cards_container_2 {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: baseline;
}

.white_div_card {
    margin: 0.8rem 0;
    background-color: #f4f4f4;
    width: 17.5rem;
    height: 11.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
.p_card {
    margin-left: 0.8rem;
    /* font-weight: 550; */
}

.yellow_bar {
    background-color: #fde500;
    height: 0.3rem;
    width: 12.5rem;
    margin-left: 0.5rem;
}

@media screen and (max-width: 75rem) {
    .cards_container_2 * {
        display: none;
    }
}

.black_div_with_info {
    width: 100%;
    height: 15.1rem;
    background-color: #0b0b0b;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 75rem) {
    .black_div_with_info {
        height: 50rem;
        flex-direction: column;
    }
}

.small_white_info_div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 1px 1px 8px rgba(194, 194, 194, 0.726);
    height: 50%;
    width: 17.5rem;
}

@media screen and (max-width: 75rem) {
    .small_white_info_div {
        height: 22%;
        width: 60%;
    }
}

.small_white_info_div > p {
    text-align: center;
    padding-top: 0.8rem;
    margin: 0.2rem;
    line-height: 70%;
    font-weight: 550;
    font-size: 1.2rem;
}

@media screen and (max-width: 37.5rem) {
    .small_white_info_div > p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 75rem) {
    .img_of_lines {
        width: 90%;
    }
}

.sp_logo_lines_img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sp-logo {
    position: relative;
    top: 5.5rem;
}

.div_container_with_inline_p {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.div_with_p_inline {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    position: relative;
    bottom: 2.5rem;
}

.line_of_imgs {
    width: 100%;
    display: flex;
    box-shadow: 1px 1px 8px rgba(194, 194, 194, 0.726);
}

.yellow_under_div {
    background-color: #fde500;
    position: absolute;
    left: 42.5rem;
    top: 206.875rem;
    width: 15rem;
    height: 16.125rem;
}

.white_top_div {
    background-color: #ffffff;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    left: 40.625rem;
    top: 208.938rem;
    width: 18.75rem;
    height: 11.875rem;
    box-shadow: 1px 1px 8px rgba(194, 194, 194, 0.726);
}

.white_top_div > p {
    margin: 1.875rem 0.75rem;
    line-height: 1.345rem;
}

.white_div_with_btn {
    width: 100%;
    height: 15rem;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellow_btn2 {
    background-color: #fde500;
    width: 16.875rem;
    height: 2.813rem;
}

.div_img_with_btn {
    width: 100%;
    height: 23.75rem;
    background-image: url(assent/Websitemockup/View.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yellow_btn3 {
    background-color: #fde500;
    height: 4.8rem;
    width: 23.2rem;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: 0.5em;
    text-align: center;
}

.div_team_img_part {
    height: 80rem;
}

.cards_container_3 {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.service_div_2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 17.125rem;
    height: 22.188rem;
    margin: 0 0.5rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.profile_btn {
    background-color: #fde500;
    width: 100%;
    padding: 1rem 0;
    margin-top: -3rem;
    opacity: 86%;
}

.profile_img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.service_div_2 > p {
    margin: 1.2rem 0;
    font-size: 1rem;
    line-height: 2rem;
    /* font-weight: 550; */
}

.yellow_bar_div {
    background-color: #fde500;
    width: 100%;
    height: 13.438rem;
    display: flex;
    justify-content: center;
}

.black_div_with_p {
    background-color: #0b0b0b;
    width: 35.75rem;
    height: 23.75rem;
    margin: 0 3rem;
    position: relative;
    bottom: 13rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.black_div_p {
    margin: 2rem 4rem;
    color: #f4f4f4;
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    line-height: 1.7rem;
}

.kid_img {
    height: 23.438rem;
    position: relative;
    top: 3rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.right_side_p {
    width: 27.125rem;
    text-align: center;
    line-height: 1.4rem;
    font-size: 0.8rem;
    letter-spacing: 0.06rem;
    position: relative;
    top: 20%;
    left: 60%;
}

.right_side_h4 {
    position: relative;
    top: 21%;
    left: 75%;
    letter-spacing: 0.02rem;
}

.white_bar {
    width: 100%;
    height: 16.5rem;
    background-color: #f4f4f4;
}

.left_side_p {
    width: 27.125rem;
    text-align: center;
    line-height: 1.4rem;
    font-size: 0.85rem;
    letter-spacing: 0.06rem;
    margin: 2rem 0 0 28.6rem;
}

.left_side_h4 {
    letter-spacing: 0.02rem;
    margin: 0 0 0 30rem;
}

.black_end_bar {
    color: #e5e5e5;
    background-color: #0b0b0b;
    width: 100%;
    height: 24.188rem;
    display: flex;
}

.white_sp_logo {
    margin: 2rem 0 0.9rem 3rem;
}
.white_sp_p {
    width: 23.2rem;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 0.05rem;
    line-height: 1rem;
    margin: 0 0 2rem 3rem;
}

.column_headline_and_links {
    margin: 3.5rem 1rem 0 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2.2rem;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #e5e5e5;
    font-size: 0.9rem;
}

a:hover {
    text-decoration: underline cornflowerblue;
}

.last_column {
    margin: 3.5rem 1rem 0 2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2.2rem;
    font-size: 1.2rem;
}
.contact_us_p {
    width: 18rem;
    letter-spacing: 0.04rem;
    font-size: 0.8rem;
    line-height: 2.2rem;
    margin-bottom: 3rem;
}

.mail_btn {
    background-color: #fde500;
    width: 23.25rem;
    height: 2.9rem;
    border-radius: 1.7rem;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.mail_btn:hover {
    background-color: rgb(199, 199, 48);
    color: bisque;
}

.small_logos {
    width: 2.125rem;
    height: 2.125rem;
    margin-right: 0.8rem;
}

.small_logos:hover {
    transition: all ease-in-out 0.08s;
    width: 2.3rem;
    height: 2.3rem;
}
/* ^just for testing  */
